/* toggle container with fixed width */
.toggle-container {
  height: 36px; /* increase the height for the bigger toggle */
  width: 110px; /* adjust width to accommodate larger toggle and text */
  display: flex;
  justify-content: flex-end; /* align the text or empty space to the right */
  align-items: center;
  margin-right: 10px; /* space between text container and toggle */
  /* border: 1px solid #ccc;  */
  padding: 5px;
  box-sizing: border-box;
}

/* toggle switch styles */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 76px; /* increase the width of the toggle */
  height: 34px; /* increase the height of the toggle */
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Icon styles for Sun and Moon */
.icon-slow, .icon-star-power {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: white; /* Adjust color as per preference */
  transition: 0.3s;
}

.icon-slow {
  left: 12px; /* position it on the left side */
  stroke-width: 1.3px;
  transform: scaleX(-1) translateY(-11px);
  /* fill: rgba(255, 255, 255, 0.5); */
}

.icon-star-power {
  right: 12px; /* position it on the right side */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #AAB4EE;
  transition: 0.4s;
  border: 1px solid white;
  border-radius: 40px; /* adjust for a circular edge */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px; /* increase the size of the toggle knob */
  width: 26px; /* increase the size of the toggle knob */
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%; /* keep it circular */
}

input:checked + .slider {
  background-color: #FFB833;
  left: 0px;
  /* background-color: #8390E6; */
}

input:checked + .slider:before {
  transform: translateX(40px); /* adjust based on new width */
}

/* Text "FASTER!!!!" only when toggle is off */
.faster-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
}