/* colors reference 
background: #191B00
table: #262900
input text: #2C2F03
button: #4C5200
button hover: #5F6600
*/

@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-weight: thin;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* ensure the body takes the full viewport height */
  scroll-behavior: smooth;  /* Enables smooth scrolling for the entire page */
}

body {
  background: #191B00;
  font-family: 'General Sans', sans-serif;
  color: #FFFFFF;
}

#root {
  display: flex;
  flex-direction: column; /* sets the root container to be vertical */
  min-height: 100vh; /* makes sure it takes up the full height of the viewport */
}

.App {
  display: flex;
  flex-direction: column; /* stack elements vertically */
  flex-grow: 1; /* allows the main content to take up all available space */
}

header {
  background-color: #262900; 
}

main {
  flex: 1; /* makes the main content grow and take up available space */
}

.projects-section {
  overflow: visible;
}


/* input Autofill Fix */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #262900 !important;
  color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #262900 inset !important;
  border-color: #262900!important;
}

input:-webkit-autofill::first-line,
textarea:-webkit-autofill::first-line,
select:-webkit-autofill::first-line {
  color: white !important;
}

/* tailwind utility customizations */
@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
    
  }

  .head-text {
    @apply sm:text-3xl text-2xl text-gray_gradient;
  }

  .nav {
    @apply flex justify-between; /* Ensure the navbar is using flex and spacing items out */
  }

  .nav-ul {
    @apply text-neutral-400 hover:text-white font-generalsans max-sm:hover:bg-[#262900] max-sm:w-full py-2 max-sm:px-5;
    background-color: #262900; /* Set initial background color */
    @apply ml-auto; /* Align the navigation to the right */
  }

  .nav-li {
    @apply text-neutral-400 hover:text-white font-generalsans max-sm:hover:bg-[#262900] max-sm:w-full py-2 max-sm:px-5;
    background-color: #262900; /* Set initial background color */
  }

  .nav-li_a {
    @apply text-lg md:text-base hover:text-white transition-colors;
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
    background-color: #262900; /* Set initial background color */
  }
}
/* keyframes for animations */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Ensure Footer is always visible */
footer {
  background-color: #191B00;
  text-align: center;
  padding: 20px;
  color: white;
  position: relative; /* ensure it's positioned at the bottom of the layout */
  margin-top: auto; /* pushes footer to the bottom if there is space */
}

/* hero section */
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-canvas {
  border: 1px solid red;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 0; /* stays as the background */
}

/* Projects Section */
/* .projects-section {
  border: 1px solid blue;
  position: relative;
  height: auto;
  padding: 10px 10px;
} */

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


